In [2]:
pwd

'C:\\Users\\meraz'

In [3]:
import numpy as np
import pandas as pd

In [4]:
dataset=pd.read_csv("data_294.csv")

In [5]:
# to preview the dataset just neeed to type the name od the data that we just given in the last step 
dataset

,Unnamed: 0,1,15,18,21,25,26,39,41,58,69,83,85,141,155,166,Act
0,1,21,23,2,4565,19.2765,8.9368,64.0391,31.8953,0.0154,200.4442,4.7239,0.5791,1092.3000,60.2772,0.0,1.58
1,2,23,23,2,5633,21.2244,10.3336,74.0391,36.5154,0.0130,287.6204,5.5482,0.5512,1944.0000,0.0000,0.0,1.93
2,3,25,23,2,6789,23.1790,10.6986,101.5489,38.1809,0.0134,257.3209,4.7255,0.5267,1775.2000,71.6216,0.0,2.65
3,4,19,23,2,4133,19.1405,8.8411,48.5293,28.3529,0.0229,173.7359,4.9959,0.5006,704.6495,38.8341,0.0,1.46
4,5,19,23,2,4133,19.8407,9.3362,48.5293,28.3529,0.0229,168.7834,4.1531,0.5455,831.6771,38.5247,0.0,2.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,290,24,20,2,7140,24.4034,11.5737,71.8135,35.8413,0.0154,237.5433,5.8331,0.4988,1830.5000,66.9631,0.0,8.00
290,291,26,20,2,8452,26.3662,11.9433,101.0586,43.6179,0.0134,312.0292,6.4319,0.4594,3013.9000,87.6958,0.0,6.70
291,292,23,20,2,6531,23.4237,10.3809,81.7744,37.2985,0.0144,275.1655,6.3289,0.4893,2273.4000,79.4996,0.0,12.90
292,293,25,20,2,7801,25.3843,11.7554,77.0195,44.4808,0.0131,330.3284,7.0198,0.4693,3041.6000,92.1018,0.0,7.50
293,294,20,20,2,5430,23.0126,10.5810,53.5489,32.7359,0.0189,208.2390,5.2572,0.4739,1525.5000,51.7503,0.0,5.60

In [6]:
# to preview the head of the dataset 
dataset.head(10)

,Unnamed: 0,1,15,18,21,25,26,39,41,58,69,83,85,141,155,166,Act
0,1,21,23,2,4565,19.2765,8.9368,64.0391,31.8953,0.0154,200.4442,4.7239,0.5791,1092.3000,60.2772,0.0,1.58
1,2,23,23,2,5633,21.2244,10.3336,74.0391,36.5154,0.0130,287.6204,5.5482,0.5512,1944.0000,0.0000,0.0,1.93
2,3,25,23,2,6789,23.1790,10.6986,101.5489,38.1809,0.0134,257.3209,4.7255,0.5267,1775.2000,71.6216,0.0,2.65
3,4,19,23,2,4133,19.1405,8.8411,48.5293,28.3529,0.0229,173.7359,4.9959,0.5006,704.6495,38.8341,0.0,1.46
4,5,19,23,2,4133,19.8407,9.3362,48.5293,28.3529,0.0229,168.7834,4.1531,0.5455,831.6771,38.5247,0.0,2.95
5,6,19,23,2,4133,20.2106,9.6005,48.5293,28.3529,0.0229,150.8257,3.9814,0.5715,917.1349,38.1359,0.0,3.93
6,7,22,23,2,5035,20.2496,9.1349,77.0586,32.7723,0.0154,216.8566,4.5979,0.5683,1311.1000,65.4415,0.0,1.93
7,8,24,23,2,6151,22.2010,10.5125,78.7940,38.8811,0.0131,251.6094,4.6756,0.5414,1715.2000,72.5326,0.0,2.34
8,9,20,23,2,4585,20.1132,9.0404,53.2842,30.6611,0.0192,188.2233,5.0279,0.4929,907.1454,48.5024,0.0,2.57
9,10,20,23,2,4585,20.8148,9.5289,53.2842,30.6611,0.0189,180.9747,4.0917,0.5363,1043.6000,46.2484,0.0,1.66

In [7]:
# to preview the tail of the dataset 
dataset.tail(10)

,Unnamed: 0,1,15,18,21,25,26,39,41,58,69,83,85,141,155,166,Act
284,285,27,20,2,8731,26.0814,11.7434,114.5684,44.5754,0.0134,350.3051,6.7121,0.4711,3305.5,105.1507,0.0,4.4
285,286,24,20,2,6783,23.1398,10.1856,100.6034,37.2665,0.0144,312.7431,6.6343,0.5027,2546.8,95.8450,0.0,30.3
286,287,26,20,2,8071,25.0997,11.5533,92.0391,45.1269,0.0131,365.3130,7.2329,0.4815,3327.8,107.7271,0.0,11.9
287,288,21,20,2,5673,22.7289,10.3813,58.7940,34.9671,0.0156,239.1715,5.4799,0.4864,1740.2,67.4692,0.0,1.8
288,289,22,20,2,5916,22.4453,10.1826,71.8135,35.8413,0.0154,237.5433,5.8331,0.4988,1830.5,66.9631,0.0,28.2
289,290,24,20,2,7140,24.4034,11.5737,71.8135,35.8413,0.0154,237.5433,5.8331,0.4988,1830.5,66.9631,0.0,8.0
290,291,26,20,2,8452,26.3662,11.9433,101.0586,43.6179,0.0134,312.0292,6.4319,0.4594,3013.9,87.6958,0.0,6.7
291,292,23,20,2,6531,23.4237,10.3809,81.7744,37.2985,0.0144,275.1655,6.3289,0.4893,2273.4,79.4996,0.0,12.9
292,293,25,20,2,7801,25.3843,11.7554,77.0195,44.4808,0.0131,330.3284,7.0198,0.4693,3041.6,92.1018,0.0,7.5
293,294,20,20,2,5430,23.0126,10.5810,53.5489,32.7359,0.0189,208.2390,5.2572,0.4739,1525.5,51.7503,0.0,5.6

In [8]:
x = dataset.iloc [:, 1:16]

In [9]:
x

,1,15,18,21,25,26,39,41,58,69,83,85,141,155,166
0,21,23,2,4565,19.2765,8.9368,64.0391,31.8953,0.0154,200.4442,4.7239,0.5791,1092.3000,60.2772,0.0
1,23,23,2,5633,21.2244,10.3336,74.0391,36.5154,0.0130,287.6204,5.5482,0.5512,1944.0000,0.0000,0.0
2,25,23,2,6789,23.1790,10.6986,101.5489,38.1809,0.0134,257.3209,4.7255,0.5267,1775.2000,71.6216,0.0
3,19,23,2,4133,19.1405,8.8411,48.5293,28.3529,0.0229,173.7359,4.9959,0.5006,704.6495,38.8341,0.0
4,19,23,2,4133,19.8407,9.3362,48.5293,28.3529,0.0229,168.7834,4.1531,0.5455,831.6771,38.5247,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,24,20,2,7140,24.4034,11.5737,71.8135,35.8413,0.0154,237.5433,5.8331,0.4988,1830.5000,66.9631,0.0
290,26,20,2,8452,26.3662,11.9433,101.0586,43.6179,0.0134,312.0292,6.4319,0.4594,3013.9000,87.6958,0.0
291,23,20,2,6531,23.4237,10.3809,81.7744,37.2985,0.0144,275.1655,6.3289,0.4893,2273.4000,79.4996,0.0
292,25,20,2,7801,25.3843,11.7554,77.0195,44.4808,0.0131,330.3284,7.0198,0.4693,3041.6000,92.1018,0.0
293,20,20,2,5430,23.0126,10.5810,53.5489,32.7359,0.0189,208.2390,5.2572,0.4739,1525.5000,51.7503,0.0

In [10]:
y = dataset.loc [:, "Act"]

In [11]:
y

0       1.58
1       1.93
2       2.65
3       1.46
4       2.95
       ...
289     8.00
290     6.70
291    12.90
292     7.50
293     5.60
Name: Act, Length: 294, dtype: float64

In [12]:
# data splitting 
from sklearn.model_selection import train_test_split

In [13]:
# to splitt the main data into train & test set
train_test_split(x,y,test_size=.2,random_state=4)

[      1  15  18     21       25       26        39       41      58        69  \
 80   25  23   2   6789  23.1790  10.6986  101.5489  38.1809  0.0134  256.4738
 144  52  42   6  33916  47.3209  21.8720  238.5530  71.0560 -0.0458  786.0693
 213  20  18   2   1998  19.5474   7.0806   55.9742  31.9295 -0.0285  200.1095
 147  53  42   6  35542  48.3042  22.0612  244.6841  73.3607 -0.0458  841.8134
 287  21  20   2   5673  22.7289  10.3813   58.7940  34.9671  0.0156  239.1715
 ..   ..  ..  ..    ...      ...      ...       ...      ...     ...       ...
 58   20  21   2   4259  17.8625   7.6065   53.9742  30.3485  0.0175  188.7878
 87   27  29   3   7178  22.9073  10.5641   98.8127  36.3372  0.0154  243.2972
 197  28  19   2  10767  27.2607  11.1583  134.8680  42.2984  0.0151  283.9677
 174  32  20   2  11854  30.0571  15.1893  168.4036  49.8334  0.0131  426.6471
 122  53  38   5  14532  41.7005  19.0805  252.5426  71.9464 -0.0273  775.3307

           83      85      141       155      166
 80    5.3027  0.5267   1760.9   72.4411  0.00000
 144  16.2121  0.2453   9154.4  139.4072  0.00000
 213   5.0939  0.6445   1611.6   73.7162  0.00000
 147  16.9649  0.2420  10275.0  148.1313  0.00000
 287   5.4799  0.4864   1740.2   67.4692  0.00000
 ..       ...     ...      ...       ...      ...
 58    4.8082  0.5615   1069.2   60.1961  0.00000
 87    5.2995  0.5400   1559.2   70.7680  0.00000
 197   5.2335  0.5467   2440.6    0.0000  0.00000
 174   7.0245  0.4537   4510.7  111.4547  0.00000
 122  14.1570  0.2972  10789.0  172.2191  0.00001

 [235 rows x 15 columns],
       1  15  18     21       25       26        39       41       58  \
 152  53  42   6  35542  48.3042  22.0612  278.1809  68.4584  0.01310
 215  25  18   2   2569  21.4744   7.8907   86.2388  42.5791  0.01280
 226  22  18   2   1998  18.6455   6.5746   79.7486  33.0377  0.01440
 177  34  20   2  13605  32.0300  15.4939  182.0782  54.1471  0.01310
 290  26  20   2   8452  26.3662  11.9433  101.0586  43.6179  0.01340
 101  51  44   6  28065  41.0358  19.5025  323.5463  55.1550  0.01440
 111  50  44   6  27778  42.8151  20.2056  295.8459  56.0947 -0.09260
 160  39  20   2  17849  35.3657  16.3690  259.6906  56.1843 -0.09170
 6    22  23   2   5035  20.2496   9.1349   77.0586  32.7723  0.01540
 184  31  20   2  11092  29.0717  14.4485  160.4036  47.8712  0.01310
 13   29  29   3   8504  24.8419  11.9226  108.8128  41.0890  0.01310
 263  35  20   2  14015  31.4458  14.6053  216.8073  49.6896  0.01440
 92   23  23   2   5844  20.7311   8.3054   75.8135  34.9635  0.01370
 33   23  23   2   5548  21.2244   9.8171   70.7940  37.0847  0.01390
 286  26  20   2   8071  25.0997  11.5533   92.0391  45.1269  0.01310
 244  27  18   2   2637  22.1167   7.0799  112.9937  44.3653  0.01280
 18   33  33   3  10823  26.5529  12.2072  135.7297  40.7839  0.01540
 64   20  21   2   4231  17.8625   7.6065   53.9742  30.3485  0.02150
 24   33  31   3  10823  26.5529  12.2072  128.2578  42.0113  0.01540
 185  35  20   2  14500  33.0174  15.1176  216.4036  52.0565  0.01340
 293  20  20   2   5430  23.0126  10.5810   53.5489  32.7359  0.01890
 272  38  20   2  16908  34.3844  15.6780  245.2004  55.1167  0.01340
 45   21  21   1   4844  20.7173   9.4606   41.5098  35.9741  0.01490
 43   23  21   1   5581  21.2244   9.8171   50.2647  40.6860  0.01300
 139  40  30   4  18092  36.5768  17.7104  205.0978  54.8877  0.01310
 88   29  29   3   8504  24.8419  11.9226  108.8128  41.0890  0.01310
 14   31  29   3   9918  26.7834  12.3141  136.3225  42.9903  0.01340
 209  24  18   2   2390  20.5281   7.6438   81.4839  40.2015 -0.03210
 278  23  20   2   6096  22.1619   9.9849   89.0587  34.9577  0.01440
 121  51  44   6  28774  42.5309  20.0033  323.9109  55.2096  0.01440
 223  21  18   2   1871  19.2885   5.8816   62.7291  33.7342  0.01530
 233  26  20   2   9868  26.3662  11.9433  111.7486  41.8295  0.01340
 146  51  42   6  32197  44.8133  20.2207  257.9683  64.8442 -0.00695
 258  21  20   2   5640  22.7289  10.3813   60.7290  34.6206  0.01890
 63   19  21   2   3787  16.9126   7.3773   49.2193  28.0356  0.02150
 289  24  20   2   7140  24.4034  11.5737   71.8135  35.8413  0.01540
 68   20  23   2   4259  17.8625   7.6065   53.9742  30.3485  0.01750
 1    23  23   2   5633  21.2244  10.3336   74.0391  36.5154  0.01300
 172  34  19   2  13605  32.0300  15.4939  182.0782  54.1471  0.01310
 274  36  20   2  15049  32.4244  15.2999  207.2584  54.4186  0.01310
 180  35  19   2  14500  33.0174  15.1176  216.4036  52.0565  0.01340
 46   20  21   1   4619  20.6491   9.4129   30.7549  34.8130  0.01870
 179  31  19   2  11092  29.0717  14.4485  160.4036  47.8712  0.01310
 193  28  19   2   8747  26.1207  10.8391  137.7228  41.8278 -0.09260
 11   20  23   2   4585  21.1854   9.7895   53.2842  30.6611  0.01880
 124  52  42   6  30180  43.6681  21.3490  318.8510  52.6684  0.01540
 39   21  23   2   5080  21.7906  10.2189   55.2842  33.4804  0.01400
 84   24  23   2   6151  22.5724  10.7800   78.7940  38.8811  0.01310
 83   24  23   2   6151  22.2010  10.5125   78.7940  38.8811  0.01310
 47   20  21   1   4619  21.1854   9.7895   32.7549  34.4445  0.01870
 154  35  20   2  14029  31.4458  15.6574  208.6710  50.9524  0.01310
 270  30  20   2   9920  26.5696  12.1655  146.1808  44.6209  0.01540
 16   30  27   2   9511  25.8119  12.1160  104.3704  45.0332  0.01310
 157  37  20   2  15937  33.4040  16.0029  221.7486  55.4380  0.01310
 61   23  21   2   5778  20.7311   8.6832   71.4840  36.7863  0.01540
 42   23  21   1   5598  21.2244   9.8171   54.7940  39.8915  0.01340
 208  22  18   2   1998  18.6455   6.5746   79.7486  34.1087 -0.02910
 153  31  20   2  10641  27.5423  12.8447  160.6710  45.5245  0.01540
 205  23  18   2   2208  19.5851   6.8242   89.0586  35.7072 -0.02920

            69       83      85         141       155      166
 152  866.4426  18.1985  0.2334  11238.0000  154.9168  0.00001
 215  333.6541   6.1173  0.6048   2829.2000  106.6203  0.00000
 226  249.7903   5.0496  0.6271   1763.7000   88.7817  0.00000
 177  503.1011   7.8441  0.4384   5860.3000  125.4312  0.00000
 290  312.0292   6.4319  0.4594   3013.9000   87.6958  0.00000
 101  736.4562  13.6129  0.3879   9668.6000    0.0000  0.00000
 111  679.6418  12.6460  0.2929   9054.6000    0.0000  0.00000
 160  462.9847   7.3609  0.4041   5986.7000    0.0000  0.00000
 6    216.8566   4.5979  0.5683   1311.1000   65.4415  0.00000
 184  416.4446   6.9894  0.4635   4194.2000  110.9714  0.00000
 13   289.8477   5.5422  0.5156   2054.8000   75.4134  0.00000
 263  522.4446   8.4555  0.4346   6313.8000  142.1933  0.00000
 92   287.7267   9.2539  0.5132   1861.8000   73.5427  0.00001
 33   246.7787   5.0929  0.5547   1678.3000   75.4520  0.00000
 286  365.3130   7.2329  0.4815   3327.8000  107.7271  0.00000
 244  401.1416   7.0937  0.6175   3857.5000  123.1728  0.00000
 18   332.0721   6.9824  0.5047   2561.2000   87.3398  0.00001
 64   195.3399   4.7116  0.5654   1020.1000   54.7371  0.00000
 24   311.5417   6.2701  0.5047   2286.2000   83.7928  0.00000
 185  446.4340   7.1758  0.4299   5232.2000  116.5733  0.00000
 293  208.2390   5.2572  0.4739   1525.5000   51.7503  0.00000
 272  498.6981   8.0510  0.4118   6417.2000  129.5854  0.00000
 45   203.2849   5.3716  0.5656   1363.8000   66.0930  0.00000
 43   242.5841   4.9028  0.5545   1674.4000   75.5263  0.00000
 139  560.2706  10.0397  0.3322   6479.3000  148.8172  0.00001
 88   289.3769   5.8723  0.5156   2084.8000   78.8305  0.00000
 14   307.9270   5.7874  0.4941   2465.6000   85.5278  0.00000
 209  315.6176   6.0027  0.6116   2615.3000  107.1594  0.00000
 278  280.1402   6.2514  0.5028   2053.9000   83.0448  0.00000
 121  737.9125  13.5647  0.2968   9440.2000    0.0000  0.00000
 223  219.5443   5.0497  0.6713   1904.3000   75.1388  0.00000
 233  320.1299   6.2752  0.5168   2931.3000  104.0712  0.00000
 146  750.7103  16.1389  0.3255   9073.1000  140.4487  0.00000
 258  247.1030   5.5079  0.4900   1838.1000   77.8865  0.00000
 63   169.7966   4.5827  0.5728    839.1536   52.5025  0.00000
 289  237.5433   5.8331  0.4988   1830.5000   66.9631  0.00000
 68   183.7542   5.5579  0.5615   1007.8000   60.1581  0.00000
 1    287.6204   5.5482  0.5512   1944.0000    0.0000  0.00000
 172  522.2037   8.1768  0.4384   6336.7000  132.8234  0.00000
 274  623.1164   9.7605  0.4280   7854.0000    0.0000  0.00000
 180  418.1415   6.8048  0.4299   4947.1000    0.0000  0.00000
 46   178.0584   5.5250  0.5231   1058.8000   49.3849  0.00000
 179  405.5617   6.7657  0.4635   4168.5000  108.8899  0.00000
 193  312.1360   5.6617  0.4960   2797.4000   92.9143  0.00000
 11   158.7533   4.1866  0.5612   1114.2000   45.2804  0.00000
 124  688.2979  13.0656  0.3020   8524.2000  155.0332  0.00001
 39   214.7976   5.0239  0.5242   1369.4000   56.1970  0.00001
 84   258.9967   5.2693  0.5256   1740.1000   77.9801  0.00000
 83   263.5148   5.3771  0.5414   1825.2000   79.9282  0.00000
 47   171.2104   4.6993  0.5621   1271.2000   47.5832  0.00000
 154  474.9069   7.7290  0.4337   5511.3000  122.0624  0.00001
 270  392.8150   6.9903  0.4797   3839.8000    0.0000  0.00000
 16   302.6682   6.0044  0.5060   2396.8000   80.1110  0.00001
 157  571.6570   8.8454  0.4196   7255.2000  137.2389  0.00001
 61   242.7283   5.0728  0.5313   1699.6000   71.6687  0.00000
 42   241.2551   5.2990  0.5531   1646.0000   75.2577  0.00001
 208  244.8578   5.0275  0.6379   1803.9000   92.4454  0.00000
 153  358.5826   6.3771  0.4692   3601.2000  104.1125  0.00001
 205  297.4250   5.7551  0.6260   2303.0000  104.8745  0.00000  ,
 80      4.72
 144    35.00
 213     0.36
 147    36.80
 287     1.80
        ...
 58     10.20
 87      1.72
 197     1.64
 174    61.00
 122    62.50
 Name: Act, Length: 235, dtype: float64,
 152    205.00
 215      2.23
 226      6.10
 177     74.00
 290      6.70
 101     76.00
 111     91.20
 160     23.10
 6        1.93
 184     89.20
 13       3.60
 263    100.80
 92       9.13
 33     139.00
 286     11.90
 244      1.10
 18      21.10
 64      10.70
 24       5.58
 185     44.70
 293      5.60
 272     21.10
 45       4.11
 43       8.15
 139    150.00
 88       2.83
 14       7.00
 209      1.03
 278      4.60
 121    135.00
 223      0.02
 233     43.30
 146     35.60
 258     30.30
 63      35.10
 289      8.00
 68      10.90
 1        1.93
 172     69.90
 274     32.00
 180      8.80
 46       9.24
 179     15.60
 193      0.19
 11       4.18
 124    201.00
 39     104.00
 84       2.73
 83       2.60
 47       2.63
 154    114.00
 270     31.70
 16       4.79
 157    117.40
 61       6.06
 42       8.72
 208      1.51
 153    128.10
 205      5.20
 Name: Act, dtype: float64]

In [14]:
#to save the train and test datasets 
x_model, x_extest, y_model, y_extest = train_test_split(x,y,test_size=.2,random_state=4)

In [15]:
#to check the number of rows at training set 
x_model.shape

(235, 15)

In [16]:
# to c check the number of rows in testset 
x_extest.shape

(59, 15)

In [17]:
# to split the modeling set further into test and validation set  
train_test_split(x_model,y_model,test_size=.3, random_state = 4)

[      1  15  18     21       25       26        39       41      58        69  \
 183  27  20   2   8116  25.1389  11.5811  128.2130  40.1579  0.0154  307.1858
 136  39  32   4  17052  35.4292  16.3149  229.7415  47.8059  0.0144  557.6774
 4    19  23   2   4133  19.8407   9.3362   48.5293  28.3529  0.0229  168.7834
 242  25  18   2   2449  21.6305   6.6141   91.3233  41.5640  0.0151  331.1110
 65   21  21   2   4717  18.8158   8.2299   55.9742  33.1691  0.0152  218.2961
 ..   ..  ..  ..    ...      ...      ...       ...      ...     ...       ...
 86   20  23   2   4585  20.1132   9.0404   53.2842  30.6611  0.0192  179.6527
 187  33  20   2  12786  31.0432  14.7697  174.0782  52.1704  0.0131  503.8909
 198  32  19   2  14529  31.2010  13.8347  172.5684  49.1727  0.0131  396.4071
 85   26  23   2   7355  24.1583  10.8909  106.3038  40.5973  0.0134  274.0793
 119  52  42   6  30180  43.6681  21.3490  308.7769  60.7205  0.0131  749.7178

           83      85        141       155  166
 183   5.6742  0.5044  2612.5000   92.7638  0.0
 136  10.0886  0.3405  6146.7000  146.4210  0.0
 4     4.1531  0.5455   831.6771   38.5247  0.0
 242   5.8562  0.6357  3284.4000    0.0000  0.0
 65    4.9638  0.5530  1251.1000   61.9149  0.0
 ..       ...     ...        ...       ...  ...
 86    5.4018  0.4929   860.9441   48.3841  0.0
 187   8.0045  0.4475  5600.9000  126.1353  0.0
 198   6.5247  0.5063  4020.9000    0.0000  0.0
 85    4.9413  0.5177  2137.0000   86.7121  0.0
 119  13.8428  0.2905  9899.0000  165.0717  0.0

 [164 rows x 15 columns],
       1  15  18     21       25       26        39       41      58        69  \
 26   37  31   3  14223  30.4092  13.9474  165.7675  48.8894  0.0134  366.6086
 131  51  44   6  31609  44.6572  20.1138  291.1006  59.9489  0.0144  756.9313
 59   21  21   2   4730  18.8158   7.8378   58.7290  32.6732  0.0175  208.3384
 182  33  19   2  12786  31.0432  14.7697  174.0782  52.1704  0.0131  502.5574
 27   28  25   2   8065  23.8737  10.7717   96.3038  39.9823  0.0154  248.5459
 ..   ..  ..  ..    ...      ...      ...       ...      ...     ...       ...
 232  24  20   2   8310  24.4034  11.5737   84.2388  40.0721  0.0131  306.7403
 210  26  18   2   2798  22.4236   8.1379  108.9937  41.9737 -0.0314  341.8619
 220  25  18   2   2241  20.2521   6.3583   88.2388  42.0800  0.0128  329.4346
 122  53  38   5  14532  41.7005  19.0805  252.5426  71.9464 -0.0273  775.3307
 110  53  44   6  32043  45.7587  21.7923  321.6575  62.0955 -0.0923  707.3638

           83      85      141       155      166
 26    7.2599  0.4645   3227.5   90.0818  0.00000
 131  16.0909  0.3225   9154.9    0.0000  0.00000
 59    4.7769  0.5544   1243.5   60.8528  0.00000
 182   7.9959  0.4475   5708.2  125.5624  0.00000
 27    5.3184  0.5294   1712.1    0.0000  0.00000
 ..       ...     ...      ...       ...      ...
 232   6.2070  0.5363   2535.4   99.5743  0.00001
 210   6.3450  0.5882   3131.7  112.5489  0.00000
 220   5.8534  0.6404   2837.5  107.7966  0.00000
 122  14.1570  0.2972  10789.0  172.2191  0.00001
 110  13.1751  0.2767  10559.0    0.0000  0.00000

 [71 rows x 15 columns],
 183    108.00
 136     24.30
 4        2.95
 242      1.52
 65       9.17
         ...
 86       1.66
 187    108.00
 198      2.28
 85       7.11
 119     72.40
 Name: Act, Length: 164, dtype: float64,
 26      2.85
 131    73.40
 59      7.55
 182     8.25
 27     36.80
        ...
 232    46.40
 210     0.87
 220     0.09
 122    62.50
 110    65.70
 Name: Act, Length: 71, dtype: float64]

In [18]:
# save the data 
x_train, x_test2, y_train, y_test2 = train_test_split(x_model,y_model,test_size=.3, random_state = 4)

In [19]:
x_train.shape

(164, 15)

In [20]:
y_train.shape

(164,)

In [21]:
x_test2.shape

(71, 15)

In [22]:
y_test2.shape

(71,)

In [23]:
# further split the test2 into validation and test set 
x_val, x_test, y_val, y_test = train_test_split(x_test2,y_test2,test_size=.5, random_state = 4)

In [24]:
x_val.shape

(35, 15)

In [25]:
y_val.shape

(35,)

In [26]:
y_test.shape

(36,)

In [27]:
 # import models multilayer perceptrons
from sklearn.neural_network import MLPRegressor

In [28]:
nn = MLPRegressor( activation='logistic',hidden_layer_sizes=(150,),random_state=4)
nn.slover= 'sgd'
nn.max_iter=10000

In [29]:
#training model
nn.fit (x_model,y_model)

MLPRegressor(activation='logistic', hidden_layer_sizes=(150,), max_iter=10000,
             random_state=4)

In [30]:
#Predection of y for x_test
y_predict = nn.predict(x_test)

In [31]:
y_predict

array([32.9857092 , 14.97255152, 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 , 15.34562993,
       15.34674968, 33.61230308, 32.9857092 , 15.34577827, 32.9857092 ,
       32.9857092 , 33.61230304, 33.61230308, 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.98586908, 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 33.61230308, 32.9857092 ,
       32.9857092 , 33.61230308, 32.9857092 , 32.9857092 , 33.61230308,
       33.61230308])

In [32]:
y_predict.shape

(36,)

In [33]:
#Predection of y for x_model
y_predict_model = nn.predict(x_model)

In [34]:
y_predict_model

array([32.9857092 , 32.9857092 , 15.34576462, 32.9857092 , 32.9857092 ,
       32.9857092 , 15.3458229 , 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 33.61230308, 15.35422286, 32.9857092 , 32.9857092 ,
       33.61230308, 32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 33.61230308, 15.34563034, 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 14.97254948, 32.9857092 , 32.9857092 , 33.61230308,
       33.61230174, 32.9857092 , 15.3456267 , 32.9857092 , 33.61230308,
       32.9857092 , 15.34561003, 32.9857092 , 32.9857092 , 14.97254946,
       33.61230308, 33.61230308, 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 33.03487748, 33.61225372,
       33.61230308, 33.60179206, 33.61230308, 32.9857092 , 32.9857092 ,
       32.98570852, 32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 ,
       33.61230308, 15.34562713, 32.9857092 , 33.61230308, 33.61230308,
       32.9857092 , 32.9857092 , 32.9857092 , 32.98570938, 32.9857092 ,
       32.9857092 , 15.33669196, 32.9857092 , 32.9857092 , 32.9857092 ,
       33.61230308, 32.9857092 , 15.34562993, 32.9857092 , 33.61230308,
       32.9857092 , 33.61229876, 32.9857092 , 32.9857092 , 32.9857092 ,
       32.98798178, 32.9857092 , 33.61230308, 32.9857092 , 33.61230308,
       33.61230308, 32.9857092 , 33.61230308, 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 ,
       33.61230308, 32.9857092 , 15.34562925, 32.9857092 , 15.34566408,
       32.9857092 , 33.61230308, 33.61230308, 32.9857092 , 33.61230308,
       32.9857092 , 33.61230308, 32.9857092 , 15.34674968, 14.97254948,
       33.61230308, 33.61230308, 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 32.98991257, 32.9857092 , 32.9857092 , 32.9857092 ,
       33.61230308, 32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 14.97254948, 32.9857092 , 15.34563503, 14.97254948,
       14.9742166 , 32.98586908, 32.9857092 , 32.9857092 , 32.9857092 ,
       33.61230308, 14.97254948, 33.61230308, 32.9857092 , 14.97285469,
       32.9857092 , 32.9857092 , 33.61230308, 32.9857092 , 32.9857092 ,
       15.34565635, 15.33631102, 14.97255152, 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 33.61230308, 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 33.61230308, 32.9857092 ,
       15.2966213 , 32.9857092 , 32.9857092 , 33.61230308, 32.9857092 ,
       33.61230308, 32.9857092 , 14.98970561, 32.9857092 , 32.9857092 ,
       32.9857092 , 14.97256001, 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 14.97254948, 32.9857092 ,
       33.61230308, 32.9857092 , 15.34562994, 32.9857092 , 32.9857092 ,
       14.98270842, 33.61230304, 33.61230308, 32.9857092 , 15.34562927,
       14.99021219, 32.9857092 , 32.9857092 , 32.88573442, 32.9857092 ,
       32.9857092 , 15.34577827, 32.985709  , 32.9857092 , 33.61230308,
       14.9725495 , 32.9857092 , 32.9857092 , 33.60973654, 32.9857092 ,
       33.61230308, 33.61230297, 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 ,
       32.9857092 , 32.9857092 , 32.9857092 , 32.9857092 , 33.03532019,
       32.9857092 , 32.9857092 , 32.9857092 , 33.61230308, 21.14417032])

In [35]:
y_predict_model.shape

(235,)

In [ ]:
#R2 of training (this formula is for array form not in matrix )
print(nn.score(y_model,y_predict_model))

In [39]:
# error and R2 calculation on prediction
from sklearn import metrics

In [40]:
mae=metrics.mean_absolute_error (y_test, y_predict)
mse=metrics.mean_squared_error (y_test, y_predict)
rsq=metrics.r2_score (y_test, y_predict)

In [41]:
print (mae, mse, rsq)

35.86154705156871 3129.223345059549 -0.00772392547712597

In [ ]:
mae1=metrics.mean_absolute_error (y_predict_model, y_model)
mse1=metrics.mean_squared_error  (y_predict_model, y_model)
rsq1=metrics.r2_score  (y_predict_model, y_model)

In [ ]:
print (mae1, mse1, rsq1)

In [ ]:
# for  validation set the train test solit already imported (from sklearn.model_selection import train_test_split)
# for k-fold cross validation need new module
from sklearn.model_selection import cross_val_score

In [ ]:
print(-cross_val_score(nn,x,y.ravel(),cv=5, scoring = "neg_mean_absolute_error").mean())
print(-cross_val_score(nn,x,y.ravel(),cv=5, scoring = "neg_mean_squared_error").mean())

In [ ]:
#this part is not okey yet 
from matplotlib import pyplot as plt

In [ ]:
plt.plot (y_predict, y_test)
plt.ylabel ("y_predictr")
plt.xlabel ("y_originalr")

In [ ]:
#to calculate the Q2 for K = 5
scores = cross_val_score(nn, x, y, cv=5)

In [ ]:
print (scores)